extends layout

block content
  .container
    .card
      .container-fliud
        .wrapper.row
          .preview.col-md-6
            .preview-pic.tab-content
              #pic-1.tab-pane.active
                img(src='../images/1.jpg')  
                <!-- https://www.pexels.com/photo/close-up-of-vibrant-red-dahlia-flower-bloom-28754059/ -->
          .details.col-md-6
            .title-wrapper
              h3.product-title Dahlia
              button.like.btn.btn-default(type='button')
                span.fa.fa-heart
            .rating
              .stars
                span.fa.fa-star.checked
                span.fa.fa-star.checked
                span.fa.fa-star.checked
                span.fa.fa-star
                span.fa.fa-star
            p.product-description
              | Dahlias are perennial plants with tuberous roots, though they are grown as annuals in some regions with cold winters. While some have herbaceous stems, others have stems which lignify in the absence of secondary tissue and resprout following winter dormancy, allowing further seasons of growth.[5] As a member of the Asteraceae, the dahlia has a flower head that is actually a composite (hence the older name Compositae) with both central disc florets and surrounding ray florets. Each floret is a flower in its own right, but is often incorrectly described as a petal. The modern name Asteraceae refers to the appearance of a star with surrounding rays.
            .action
              button.add-to-cart.btn.btn-default(type='button') Care guiding tips
            h4.price
              | Level   
              span Beginner
            h4.price
              | Temperature   
              span 38
            h4.price
              | Light     
              span Full sun
            h4.price
              | Watering   
              span 1” of water every week
            h4.price
              | Fertilizing   
              span High in potassium and phosphorus
            h4.price
              | Bloom time   
              span Summer, Fall
            p.vote
              strong 53
              |  PrettyPetals club members enjoyed this flower! 
              strong (53 votes)

  .container
    .card
      .container-fliud
        .wrapper.row
          .preview.col-md-6
            .preview-pic.tab-content
              #pic-1.tab-pane.active
                img(src='../images/1.jpg')  
                <!-- https://www.pexels.com/photo/close-up-of-vibrant-red-dahlia-flower-bloom-28754059/ -->
          .details.col-md-6
            .title-wrapper
              h3.product-title Dahlia
              button.like.btn.btn-default(type='button')
                span.fa.fa-heart
            .rating
              .stars
                span.fa.fa-star.checked
                span.fa.fa-star.checked
                span.fa.fa-star.checked
                span.fa.fa-star
                span.fa.fa-star
            p.product-description
              | Dahlias are perennial plants with tuberous roots, though they are grown as annuals in some regions with cold winters. While some have herbaceous stems, others have stems which lignify in the absence of secondary tissue and resprout following winter dormancy, allowing further seasons of growth.[5] As a member of the Asteraceae, the dahlia has a flower head that is actually a composite (hence the older name Compositae) with both central disc florets and surrounding ray florets. Each floret is a flower in its own right, but is often incorrectly described as a petal. The modern name Asteraceae refers to the appearance of a star with surrounding rays.
            .action
              button.add-to-cart.btn.btn-default(type='button') Care guiding tips
            h4.price
              | Level   
              span Beginner
            h4.price
              | Temperature   
              span 38
            h4.price
              | Light     
              span Full sun
            h4.price
              | Watering   
              span 1” of water every week
            h4.price
              | Fertilizing   
              span high in potassium and phosphorus but low in nitrogen
            h4.price
              | Bloom time   
              span Summer, Fall
            p.vote
              strong 53
              |  PrettyPetals club members enjoyed this flower! 
              strong (53 votes)
