doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    // Navigation bar
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        // Brand name
        a.navbar-brand(href='/data') PrettyPetals
        // Toggle button for mobile view
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        // Collapsible navigation links
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/login') Login
            li.nav-item
              a.nav-link(href='/registration') Register
            li.nav-item
              a.nav-link(href='/data') Explore Flowers
        // Additional navbar text 
        span.navbar-text
          | Welcome to PrettyPetals: Cultivating Joy in Every Petal
    .container
      block content
    footer
      .row
        .col-12.text-center
          small &copy; Oksana Fursa 2024
    // Scripts for jQuery, Popper.js, and Bootstrap
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
