doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    // Navigation bar
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        // Brand name
        a.navbar-brand(href='/data') PrettyPetals
        // Toggle button for mobile view
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        // Collapsible navigation links
        #navbarText.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='/login') Login
            li.nav-item
              a.nav-link(href='/registration') Register
            li.nav-item
              a.nav-link(href='/data') Explore Flowers
        // Additional navbar text 
        span.navbar-text
          | Welcome to PrettyPetals: Cultivating Joy in Every Petal
    .container
      block content
      footer
        .row
          .col-12
            small &copy; Oksana Fursa 2024
    // Scripts for jQuery, Tether and Bootstrap
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='/javascripts/bootstrap.min.js')
