extends layout

block content
  .container
    .main
      .main-center
        h5= info.title  
        h1= info.pageHeader.title
        small &nbsp;#{info.pageHeader.strapline}
        if info.error
          p.alert.alert-danger= info.error 

        form(method='post', action='/login')
          .form-group
            label(for='username') Username
            .input-group
              span.input-group-addon
                i.fa.fa-users.fa(aria-hidden='true')
              input#username.form-control(type='text', name='username', placeholder='Enter your Username')
          .form-group
            label(for='password') Password
            .input-group
              span.input-group-addon
                i.fa.fa-lock.fa-lg(aria-hidden='true')
              input#password.form-control(type='password', name='password', placeholder='Enter your Password')
          button(type='submit') Log In
