extends layout

block content
  .container
    .main
      .main-center
        h5= title || 'Login to Your Account'
        if pageHeader
          h1= pageHeader.title || 'Welcome Back!'
          small #{pageHeader.strapline || 'Please log in to continue'}

        if error
          .alert.alert-danger
            p= error

        // Login form
        form(method='post', action='/login')
          .form-group
            label(for='username') Username
            .input-group
              span.input-group-addon
                i.fa.fa-user(aria-hidden='true')
              input#username.form-control(type='text', name='username', placeholder='Enter your username' required)
          .form-group
            label(for='password') Password
            .input-group
              span.input-group-addon
                i.fa.fa-lock(aria-hidden='true')
              input#password.form-control(type='password', name='password', placeholder='Enter your password' required)
          button.btn.btn-primary(type='submit') Log In
